body, html {
    width: 100%;
    height: 100%;
}

.max-width-400 {
    max-width: 400px;
}

.max-width-600 {
    max-width: 600px;
}

/*.card-size-sm {*/
.max-width-300 {
    max-width: 300px;
}

.full {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.close-full {
    width: 100%;
    height: 80%;
}

.dark-bg {
    background-color: #2f2f2f;
}

.light-gray-bg {
    background-color: #efefef;
}

.display-flex {
    display: flex;
}

.bac {
    background-color: #2b542c;
}

.app-logo {
    animation: app-logo-spin infinite 20s linear;
    width: 80%;
    height: 80%;
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
