<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard Template for Bootstrap</title>
    <!--<meta http-equiv="X-Frame-Options" content="ALLOW-FROM http://localhost:8081"/>-->
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet"/>
    <link href="../static/css/metisMenu.css" th:href="@{/css/metisMenu.css}" rel="stylesheet"/>
    <link href="../static/css/sidebar-menu.css" th:href="@{/css/sidebar-menu.css}" rel="stylesheet"/>
</head>

<body style="height: 100%;">


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
        </ul>
        <!--<form class="form-inline mt-2 mt-md-0">-->
        <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"/>-->
        <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" th:text="${user.name}">user</a>
            </li>
            <li class="nav-item">
                <form th:action="@{/logout}" th:method="@{POST}">
                    <button type="submit" class="btn btn-success">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>


<div class="m-0 p-0 "
     style="display:flex;flex-direction:row;flex-wrap: nowrap;align-items:stretch;height: 100%;overflow:hidden;">
    <!--<nav class="col-sm-3 col-md-2 bg-dark m-0 p-0">-->
    <!--<div class="col-sm-3 col-md-2 m-0 p-0">-->
    <nav class="sidebar-nav m-0 p-0" style="min-width:180px;max-width: 220px">
        <ul class="metismenu" id="menu">
            <th:block th:each="m:${menus}">
                <th:block th:if="${m.size() eq 0}">
                    <li th:id="${m.id}">
                        <a class="has-arrow" href="#" th:text="${m.name}" onclick="onMenuClicked(this)"><span
                                class="fa fa-fw fa-github fa-lg"></span></a>
                    </li>
                </th:block>
                <th:block th:if="${m.size() gt 0}">
                    <li>
                        <a class="has-arrow" href="#" th:text="${m.name}"><span class="fa fa-fw fa-github fa-lg"></span></a>
                        <ul aria-expanded="true" class="collapse">
                            <th:block th:each="sm:${m}">
                                <li>
                                    <a href="javascript:void(0);" th:text="${sm.name}" onclick="onMenuClicked(this)"
                                       th:id="${m.id+'_'+sm.id}" th:data="${sm.url}"><span
                                            class="fa fa-fw fa-code-fork"></span></a>
                                </li>
                            </th:block>
                        </ul>
                    </li>
                </th:block>
            </th:block>
        </ul>
    </nav>
    <!--</div>-->
    <!--<div class="col-sm-9 col-md-10 m-0 p-0" style="width:100%;height: 100%;">-->
    <div class="m-0 p-0" style="float:right;min-width:960px;width:100%;height: 100%;">
        <nav class="navbar m-0 p-0 ">
            <ul id="tabs" class="nav nav-gray-pills  nav-tabs " style="width: 100%">
                <li class="nav-item">
                    <a id="tab_welcome" class="nav-gray-link active" href="#" onclick="clickTab(this)">
                        Welcome</a>
                </li>
            </ul>
        </nav>
        <div id="frame_container" class="full-m-p-0" style="height: 100%;">
            <div id="i_frame_welcome" class="full-m-p-0" style="height: 100%;">
                <iframe class="i_frame" width="100%" height="100%" allowfullscreen="true" frameborder="0"
                        th:src="@{/welcome}"></iframe>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
<!--integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--crossorigin="anonymous"></script>-->
<script src="../static/js/vendor/jquery-slim.min.js" th:src="@{/js/vendor/jquery-slim.min.js}"></script>
<script src="../static/js/vendor/jquery-3.2.1.min.js" th:src="@{/js/vendor/jquery-3.2.1.min.js}"></script>
<script src="../static/js/dashboard.js" th:src="@{/js/dashboard.js}"></script>
<script src="../static/js/vendor/popper.min.js" th:src="@{/js/vendor/popper.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/js/ie10-viewport-bug-workaround.js" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
<script src="../static/js/vendor/metismenu.js" th:src="@{/js/vendor/metismenu.js}"></script>

<script>
    //    $('#menu').metisMenu()
    $(function () {
        $('#menu').metisMenu({toggle: false});
    });
</script>

</body>
</html>