<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"-->
    <!--integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->

    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/css/bootstrap-grid.css" th:href="@{/css/bootstrap-grid.css}"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}" crossorigin="anonymous"/>


</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="/signup" th:href="@{/signup}">Sign Up </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signin" th:href="@{/signin}">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="full dark-bg display-flex">
    <main class="container">
        <div class="row close-full display-flex align-items-center mx-auto">
            <div class="col-md-6 text-center">
                <img src="../static/img/logo.svg" th:src="@{/img/logo.svg}" class="app-logo  "/>
                <!--<embed src="./img/logo.svg" type="image/svg+xml" />-->
            </div>
            <div class="col-md-6 text-center">
                <div class="card  card-size-sm mx-auto">
                    <div class="card-body align-content-center ">

                        <form action="/login" th:action="@{/signin}" method="post">
                            <div th:if="${param.error}" class="alert alert-danger">
                                Invalid username or password.
                            </div>
                            <div th:if="${param.logout}" class="alert alert-success">
                                You have been logged out.
                            </div>
                            <div class="form-group">
                                <label class="float-left" for="inputUserName">Username or email address</label>
                                <input type="text" name="username" class="form-control" id="inputUserName"
                                       placeholder="Username or email address"/>
                            </div>
                            <div class="form-group">
                                <label class="float-left" for="inputPassword">Password</label>
                                <input type="password" name="password" class="form-control"
                                       id="inputPassword"/>
                            </div>
                            <button type="submit" class="btn btn-success col-md-12">Sign In</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

</body>
</html>
