<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aperise.mapper.AclResourceMapper">
    <resultMap id="ResourceResultMap" type="com.aperise.bean.AclResource">
        <id column="resource_id" jdbcType="BIGINT" property="id" />
        <result column="resource" jdbcType="VARCHAR" property="resource" />
        <result column="display" jdbcType="VARCHAR" property="display" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="group_id" jdbcType="BIGINT" property="groupId" />
        <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    </resultMap>

    <resultMap id="ResourceGroupResultMap" type="com.aperise.bean.AclResourceGroup">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <select id="selectByResource" resultMap="ResourceResultMap">
        select
        acl_resource.id as resource_id, resource, display, type, group_id,
        acl_resource_group.name as group_name
        from acl_resource left join acl_resource_group on acl_resource.group_id=acl_resource_group.id
        where resource = #{resource,jdbcType=VARCHAR}
    </select>

    <select id="selectByType" resultMap="ResourceResultMap">
        select
        acl_resource.id as resource_id, resource, display, type, group_id,
        acl_resource_group.name as group_name
        from acl_resource left join acl_resource_group on acl_resource.group_id=acl_resource_group.id
        where type = #{type,jdbcType=VARCHAR}
    </select>

    <select id="selectGroup" resultMap="ResourceGroupResultMap">
        select
        id, name
        from acl_resource_group
    </select>

</mapper>
