<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aperise.mapper.UserMapper">
    <resultMap id="UserBaseResultMap" type="com.aperise.bean.User">
        <id column="user_id" jdbcType="INTEGER" property="id" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="user_name" jdbcType="VARCHAR" property="name" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
        <result column="sex" jdbcType="CHAR" property="sex" />
        <result column="height" jdbcType="REAL" property="height" />
        <result column="weight" jdbcType="REAL" property="weight" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
        <result column="is_deleted" jdbcType="CHAR" property="isDeleted" />
        <association property="role" javaType="Role">
            <id property="id" column="role_id"/>
            <result property="name" column="role_name"/>
        </association>
    </resultMap>

    <select id="selectNameById" resultType="String">
        select name from user where id = #{id}
    </select>

    <!--<select id="selectByName" resultMap="BaseResultMap">-->
        <!--select-->
        <!--<include refid="Base_Column_List"/>-->
        <!--from user where name = #{name}-->
    <!--</select>-->

    <select id="selectByName" resultMap="UserBaseResultMap" >
        select
        user.id as user_id, email, phone, password, user.name as user_name, nickname, birthday, sex, height, weight, gmt_create, gmt_modify, is_deleted,
        role.id as role_id, role.name as role_name
        from user LEFT JOIN (user_role,role) on (user.id=user_role.user_id and user_role.role_id=role.id)
        where user.name = #{name,jdbcType=VARCHAR}
    </select>

</mapper>